## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [11]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [159]:
# Your code here
#sample_list_1 = []
#sample_list_1 = 80 * [0]
#sample_list_l
sample_list_l = random.sample(range(100),80)
print(sample_list_l)
#t = tuple(sample_list_l)
#[t.count(i) for i in t]

[49, 40, 20, 64, 5, 62, 97, 22, 11, 35, 58, 16, 21, 81, 23, 37, 88, 67, 86, 12, 76, 28, 47, 29, 34, 96, 66, 8, 95, 72, 31, 0, 50, 44, 79, 87, 56, 94, 51, 73, 85, 89, 61, 53, 27, 33, 71, 78, 38, 74, 2, 60, 82, 91, 3, 9, 32, 93, 36, 48, 10, 14, 80, 25, 55, 39, 13, 6, 90, 77, 70, 26, 19, 4, 65, 45, 75, 42, 1, 17]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [160]:
# Your code here
set1 = set(sample_list_l)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [76]:
# Your code here
sample_list_2 = [random.randrange(100) for i in range(80)]

print(sample_list_2)
#random.sample(range(0,100),1) donne liste de listes
#t = tuple(sample_list_2)
#[t.count(i) for i in t]

[52, 55, 72, 85, 44, 83, 8, 65, 0, 80, 9, 77, 8, 52, 73, 26, 68, 10, 45, 73, 46, 36, 2, 13, 81, 3, 51, 79, 55, 55, 76, 16, 54, 60, 38, 37, 9, 94, 2, 87, 94, 97, 56, 39, 29, 38, 62, 74, 66, 61, 49, 43, 75, 35, 81, 26, 34, 52, 71, 31, 73, 10, 51, 59, 64, 42, 2, 15, 83, 96, 11, 91, 16, 30, 39, 57, 83, 31, 26, 30]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [77]:
# Your code here
set2= set(sample_list_2)
set2
print(len(set2))
print("Since set2 length is length of its unique values, len(set2) is not 80")

57
Since set2 length is length of its unique values, len(set2) is not 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [82]:
# Your code here
set3 = {elem for elem in set1 if elem not in set2}
print(set3)

{4, 5, 6, 12, 14, 17, 22, 23, 24, 25, 27, 28, 32, 33, 40, 41, 47, 48, 58, 63, 67, 69, 70, 78, 82, 84, 86, 88, 89, 90, 92, 93, 95, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [83]:
# Your code here
set4 = {elem for elem in set2 if elem not in set1}
print(set4)

{64, 97, 34, 3, 8, 43, 75, 51, 52, 87, 55}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [85]:
# Your code here
set5 = {elem for elem in set1 if elem in set2}
print(set5)

{0, 2, 9, 10, 11, 13, 15, 16, 26, 29, 30, 31, 35, 36, 37, 38, 39, 42, 44, 45, 46, 49, 54, 56, 57, 59, 60, 61, 62, 65, 66, 68, 71, 72, 73, 74, 76, 77, 79, 80, 81, 83, 85, 91, 94, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [100]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print(len(set2) == len(set5) + len(set4))
print(len(set1) == len(set5) + len(set3))
print(len(set1) == len(set2) - len(set4) + len(set3))

80
57
34
11
46
True
True
True

#### Create an empty set called `set6`.

In [111]:
# Your code here
set6 = set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [113]:
# Your code here
set6.update(set3, set5)
len(set6)

80

#### Check if `set1` and `set6` are equal.

In [114]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [117]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [119]:
# Your code here
set3.union(set4, set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [124]:
# Your code here
print(set1.pop())

{2, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 17, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 54, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99}

In [148]:
print(set1)

{2, 4, 5, 6, 10, 12, 13, 14, 15, 16, 17, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 54, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 70, 72, 73, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 88, 90, 92, 93, 94, 95, 96}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [192]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]


#print({i for i in set1 if i in list_to_remove})

{set1.discard(i) for i in range(len(set1)) if i in list_to_remove}
print(set1)

{0, 2, 3, 4, 5, 6, 8, 10, 12, 13, 14, 16, 17, 20, 22, 23, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 38, 40, 42, 44, 45, 47, 48, 50, 53, 55, 56, 58, 60, 62, 64, 65, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97}