# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [156]:
# your code here
agg_amount = orders.groupby('CustomerID', as_index=False).agg({'amount_spent': 'mean'})
#print(agg_amount.sort_values(by='amount_spent', ascending=False))
agg_amount['amount_spent'].quantile(0.75)
agg_amount['amount_spent'].quantile(0.95)

VIP = agg_amount[agg_amount['amount_spent']>agg_amount['amount_spent'].quantile(0.95)]
print(VIP.head(10))
print(len(VIP))

Preferred = agg_amount[(agg_amount['amount_spent']>agg_amount['amount_spent'].quantile(0.75)) & (agg_amount['amount_spent'] <= agg_amount['amount_spent'].quantile(0.95))]
print(Preferred.head(10))
print(len(Preferred))

VIP.columns = ['CustomerID', 'agg_amount_spent']
Preferred.columns = ['CustomerID', 'agg_amount_spent']

     CustomerID  amount_spent
0         12346  77183.600000
50        12409    101.584128
55        12415    174.461634
73        12435    217.496944
89        12454    235.222667
167       12557    363.362424
196       12590    145.062647
208       12603    246.400000
241       12643    139.360000
259       12664    131.942703
217
    CustomerID  amount_spent
2        12348     57.975484
5        12352     29.482824
8        12355     35.338462
9        12356     47.651356
10       12357     47.386794
11       12358     61.476842
12       12359     25.695887
18       12365     29.153636
21       12371     29.967619
22       12372     24.962308
868

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [153]:
# your code here

dataID = orders[["CustomerID", "Country"]].drop_duplicates()

countryVIP = pd.merge(VIP, dataID, how='left', left_on='CustomerID', right_on='CustomerID')
countryVIP["Country"].mode()

0    United Kingdom
dtype: object

In [161]:
VIP_Preferred = pd.concat([VIP, Preferred], axis=0)
VIP_Preferred

pd.merge(VIP_Preferred, dataID, how='left', left_on='CustomerID', right_on='CustomerID')["Country"].mode()

0    United Kingdom
dtype: object